body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(252,176,69);
background: linear-gradient(90deg, rgba(252,176,69,1) 13%, rgba(58,153,180,1) 37%, rgba(253,29,29,1) 89%);
}
